<main class="flex h-screen">
  <%# Sidebar %>
  <div class="flex flex-col h-screen min-w-[25%] py-10 px-5 bg-gray-700 text-gray-100">
    <div class="flex items-center gap-4 mb-10 grow-0">
      <div class="min-w-[30px]">
        <%= image_tag(current_user.avatar_thumbnail, class: "rounded-full") %>
      </div>
      <h2 class="font-bold uppercase">
        <%= current_user.email %>
      </h2>
    </div>

    <div class="flex flex-col h-full grow">
      <div class="basis-0 grow">
        <h3 class="font-semibold uppercase text-lg mb-2">Users</h3>
        <%= turbo_stream_from "users" %>
        <div id="users" class="h-60 flex flex-col gap-2 overflow-y-auto overflow-x-hidden scrollbar">
          <%= render partial: "users/user_navlink", collection: @other_users, as: :user %>
        </div>
      </div>


      <div class="basis-0 grow">
        <h3 class="font-semibold uppercase text-lg mb-2">Rooms</h3>
        <%= render "rooms/form", room: @room %>
        <%= turbo_stream_from "rooms" %>
        <div id="rooms" class="h-60 flex flex-col gap-2 mt-4 overflow-y-auto scrollbar overflow-x-hidden">
          <%= render partial: "rooms/room_navlink", collection: @public_rooms, as: :room %>
        </div>
      </div>
    </div>
  </div>

  <%# Chat room %>
  <%= turbo_stream_from @current_room %>
  <div class="h-full w-full">
    <% if @current_room %>
      <div class="h-full flex flex-col justify-between">
        <p class="bg-gray-900 text-gray-100 py-5 px-10 uppercase font-semibold text-xl">
          <%= @user&.email || "#" + @current_room.name %>
        </p>

        <div id="messages" data-controller="messages" class="p-4 flex flex-col gap-3 overflow-y-auto scrollbar">
          <%= render @messages %>
        </div>

        <div class="mt-auto p-2 border-t-gray-300 border-t-2 bg-gray-100">
          <%= render "messages/form", room: @current_room, message: @message %>
        </div>
      </div>
    <% else %>
      <div class="flex justify-center items-center h-full">
        <p class="font-bold uppercase text-5xl text-indigo-600 hover:text-indigo-700">
          Let's start chatting!
        </p>
      </div>
    <% end %>
  </div>
</main>
